body{
    background: linear-gradient(to bottom , rgb(185, 31, 185) 10%
    ,rgb(37, 37, 45) 50%, 
    rgb(192, 36, 36) 100%);
}  
#header{
    display: inline;
    text-align: center;
    padding: 5px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 35px;
    
}
.box{
    display: flex;
    width: 300px;
    margin: auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border:solid;
    background:linear-gradient(to top, rgb(141, 3, 3) 10%,rgb(0, 0, 0) 40%, rgb(126, 0, 133) 100%);
    border-width: 0.5;
    box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.7);
} 
#image {
    border: solid;
    border-width: 0.5;
    box-shadow: 0px 0px 30px  rgba(255, 254, 254, 0.7);
} 